head, body {
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 50px 20px 10px 20px;
}

body {
    margin-bottom: 120px;
}

.contact-icons {
    text-align: right;
    padding: 5px 50px;
}

main {
    padding: 5px 150px;
}

.telephone-numbers {
    display: inline-block;
    vertical-align: middle;
}

.navbar-nav {
    text-align: center;
}

h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 55pt;
    color: #2E151B;
}

.nav-link {
    text-align: right;
}

.mywed-icon {
    display: inline-block; 
    margin: 0; 
}

h3 {
    padding: 25px 0 5px 30px;    
}

.category img {
    width: 250px;
}

.head-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}