head, body {
    font-family: 'Poppins', sans-serif;
}


body {
    margin-bottom: 120px;
}

.contact-icons {
    text-align: right;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;

}

.telephone-numbers {
    display: inline-block;
    vertical-align: middle;
}

.navbar-nav {
    text-align: center;
}

.page-name {
    font-family: 'Yellowtail', cursive;
    color: #2e1015;
}

.nav-link {
    text-align: right;
}

.mywed-icon {
    display: inline-block; 
    margin: 0; 
}
h3 {
    padding: 25px 0 5px 30px;    
}

.category div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.category img {
    max-width: 100%;
    height: auto;
    padding: 10px;
}

.head-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.main-image {
    width: 100%;
}

/*Застосовується лише для комп'ютерів*/
@media screen and (min-width: 992px) {
    .navbar-brand {
      display: none;
    }
    body {
        padding: 0 80px;
    }
    header {
        padding-top: 20px;
    }
    .navbar{
        margin-bottom: 20px;
    }
    h1 {
        font-size: 70px;
    }
}

/*Для телефонів*/
@media screen and (max-width: 991px) {
    .head-container {
        display: none;
    }
    a.page-name {
        font-size: 33px;
    }
    .contacts form label {
        width: 100%;
    }
    form, p {
        padding: 0 10px;
    }
}